<% form_tag(bucket_path(bucket), :method => 'delete', :onsubmit => "return Buckets.confirmDelete()") do %>
  <fieldset>
    <legend>Delete/Merge</legend>
    <p>
      <%= "To delete this bucket, you will need to move the transactions from #{h(bucket.name)} into another bucket." %>
    </p>
  </fieldset>
  <p>
    Please select that other bucket:
  </p>
  <p>
    <%= submit_tag "Merge and delete this bucket" %>
    <%= "or #{link_to_function("Cancel", "Buckets.cancelDelete()")}" %>
  </p>
<% end %>

