- form_tag(bucket_path(bucket), :method => 'delete', :onsubmit => "return Buckets.confirmDelete()") do
  %fieldset
    %legend Delete/Merge
    %p== To delete this bucket, you'll need to move the transactions from "#{h(bucket.name)}" into another bucket.
  %p
    = submit_tag "Merge and delete this bucket"
    == or #{link_to_function("Cancel", "Buckets.cancelDelete()")}
